@font-face {
    font-family: "Round-Control";
    src: url("../fonts/RoundControl-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Coolvetica";
	src: url("../fonts/Coolvetica.otf") format("opentype");
}
body,html{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
#main{
    font-size: 30px;
    font-family: Round-Control;
    font-weight: normal;
    color: white;
	background-color: black;
    width: 1920px;
    height: 1080px;
    position: relative;
	text-shadow: 0px 0px 8px rgb(255, 255, 255);
}
.odometer.odometer-auto-theme{
    font-size: 24px !important;
    font-family: Round-Control !important;
    font-weight: normal !important;	
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
}
#top {
	position: absolute;
    width: 1920px;
    height: 182px;
	background-image: url('../static/top.png');
	background-repeat: no-repeat;
    transition: ease-in-out 500ms;
	z-index: 0;
	background-size: cover;
}
#round {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 125px;
	font-size: 22px;
	text-shadow: 0px 0px 8px #2a4dad;
}
#bottom {
	position: absolute;
	bottom: 0px;
    width: 1920px;
    height: 178px;
	background-image: url('../static/bottomplay.png');
	background-repeat: no-repeat;	
    transition: ease-in-out 200ms;
	z-index: 0;
	background-size: cover;
}

#scoreBlue {
	position: absolute;
	left: 50px;
	top: 50px;
    font-size: 30px;
	display: flex;
	color: #75c6ea;
	height: 100px;
}
#scoreNowBlue, #scoreNowRed{
    font-size: 80px !important;
	width: 50px !important;
	text-align: center;
}
#scoreMaxBlue, #scoreMaxRed{
  margin-top: auto;
  padding-bottom: 20px;
}
#scoreRed {
	position: absolute;
	right: 50px;
	top: 50px;
    font-size: 30px;
	display: flex;
	color: #936bf7;
}
#teamBlue {
	position: absolute;
	left: 200px;
	top: 50px;
    font-size: 30px;
	color: white;
    transition: ease-in-out 500ms;
	text-shadow: 0px 0px 20px #75c6ea;
}
#teamBlueName {
	padding: 10px 30px 10px 30px;
	width: 500px;
	color: white;
	background-color: #75c6ea;
	border-radius: 25px;
}
#teamBlueText {
	padding-left: 30px;
}
#teamRedText {
	padding-right: 30px;
}
#teamRed {
	position: absolute;
	right: 200px;
	top: 50px;
	text-align: right;
    font-size: 30px;
	color: white;
    transition: ease-in-out 500ms;
	text-shadow: 0px 0px 20px #936bf7;
}
#teamRedName {
	padding: 10px 30px 10px 30px;
	width: 500px;
	color: white;
	background-color: #936bf7;
	border-radius: 25px;
}
#nowPlayingContainer {
	position: absolute;
	background-image: url(../static/nowPlayingteamBlue.png);
	left: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	bottom: 20px;
	width: 500px;
	height: auto;
	text-align: center;
	align-content: center;
}
/*
width 400
height 150
*/
#nowPlayingText {
	position: relative;
	padding: 5px 20px 5px 20px;
	margin: 2px 50px 0px 50px;
	margin-bottom: -10px;
	color: white;
	z-index: 1;
}
#playScoreBlue {
	position: absolute;
	padding: 5px 30px 5px 30px;
	text-align: center;
	border-radius: 25px;
	left: 500px;
	bottom: 80px;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	width: 400px;

	text-shadow: 0px 0px 10px #75c6ea;
	color: #75c6ea;
    font-family: Round-Control, monospace;
	font-size: 40px;
	line-height: 60px;
	display: block;
	
    transition: ease-in-out 500ms;
}
#playScoreRed {
	position: absolute;
	padding: 5px 30px 5px 30px;
	text-align: center;
	border-radius: 25px;
	right: 500px;
	bottom: 80px;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	width: 400px;

	text-shadow: 0px 0px 10px #936bf7;
	color: #936bf7;
    font-family: Round-Control, monospace;
	font-size: 40px;
	line-height: 60px;
	display: block;
	
    transition: ease-in-out 500ms;
}
#mapContainer {
	position: relative;
	padding-top: 20px;
	height: 100px;
	width: 100%;
	background-color: black;
    background-size: cover;
	border-radius: 25px;
	z-index: -1;
	box-shadow: 0px 0px 20px -3px black;
}
#overlay {
	position: fixed;
	transform: translateY(-20px);
	height: 120px;
	width: 400px;
	z-index: 0;
    background-color: rgba(0,0,0,0.50);
	border-radius: 25px;
}
#mapTitle, #mapDifficulty {
	position: relative;
	padding-left:5%;
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 0;
}
#chats {
	background: gray;
	position: absolute;
	bottom: 0px;
	left: 710px;
	width: 500px;
	height: 142px;
	border-radius: 35px;
	bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 5px 15px;
	font-size: 18px;
    font-family: Round-Control, monospace;
    transition: ease-in-out 500ms;
	display: block
}
#circle { transform: rotate(0deg); }
#circle2 { transform: rotate(0deg); }

#panel {
	width: 500px;
	height: 1080px;
	background-color: rgb(80, 80, 80);
	position: absolute;
	left: 1920px;
	top: 0px;
	font-family: Coolvetica; 
}
#paneltitle {
	text-align: center;
	text-shadow: none;
}


.chat {
	display: flex;
	text-align: left;
}

.chatTime {
	width: 5%;
	color: silver;
	padding-right: 10px;
}
.wholeChat {
	width: 95%;
	display: flex;
}
.chatName {
	color: white;
	white-space: nowrap;
	width: max-content;
}
.chatText {
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}
.unknown {
	color: yellow;
}
.bot {
	color: #FF66AA;
}
.left {
	color: #1fd0ed;
}
.right {
	color: #ed1855;
}
.circle {
	position: absolute;
	left: 100px; top: 100px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #75c6ea;
	transition-duration: 750ms;
	box-shadow: 0px 0px 5px #75c6ea;
}


/*Scrollbar*/
::-webkit-scrollbar {
	width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    margin-top: 25px;
    margin-bottom: 25px;
	visibility: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}
.text{
    display: flex;
    justify-content: center;
}
