:root {
	--lightpurple: #E0B0FF;
	/* --lightpurple: #CCCCFF; */
	--purple: #936bf7;
	--purple75Opacity: #936bf77F;
	--blue: #75c6ea;
	--blue75Opacity: #75c7ea7F;
	--green: #6ACE0C;
	--red: #FF4141;
	--darkGreen: #1F9B29;
}

#mappool { 
    opacity: 0;
    transition: 750ms ease-in-out
}

/* Sponsor */
#mappoolSponsor {
	position: absolute; left: 50%; transform: translateX(-50%); top: 20px;
	z-index: 1;
	opacity: 0;
	transition: 750ms
}

/* Team Stats */
.teamStatsTeamsContainer {
    position: absolute; top: 580px;
    z-index: 0;
}
#blueTeamStats { left: 60px; }
#purpleTeamStats { right: 60px; }
.teamStatsContainer  {
    position: relative; top: 0px; left: 0px;
    height: 47px; width: 260px;
}
.teamStatsText {
	position: absolute;
    font-size: 19px;
}
.teamStatsRightText { right: 0px; }
.teamStatsBox {
	position: absolute;
    top: 20px;
    left: -2px;
    height: 20px;
    width: 266px;
    outline: 2px solid white;
    outline-offset: -4px;
}
.teamStatsBar {
    position: relative;
    width: 0px; max-width: 256px; height: 10px;
    top: 25px;
    z-index: 1;
    transition: width 1s;
}
.blueTeamStatsBar { 
	background-color: var(--blue);
	left: 3px;
}
.purpleTeamStatsBar { 
	background-color: var(--purple);
	right: 1px;
	float: right;
}

.teamSeedContainer {
    position: absolute; top: 455px; 
    font-size: 40px;
    width: 300px;
    text-align: center;
    text-shadow: 0 0 0 rgba(0,0,0,0)
}
#blueTeamSeed { left: 40px; }
#purpleTeamSeed { right: 40px; }

.teamNamesBlue {
    display: flex;
    position: absolute; top: 930px; left: 60px;
    width: 260px;
    flex-wrap: wrap;
    opacity: 1;
}
.teamNamesPurple {
    display: flex;
    position: absolute; top: 930px; right: 60px;
    width: 260px;
    flex-wrap: wrap;
    opacity: 1;
}
.teamNameBluePlayer {
    z-index: 0;
    font-size: 22px;
    width: 260px;
}
.teamNamePurplePlayer {
    z-index: 0;
    font-size: 22px;
    width: 260px;
    text-align: right;
}
.teamNamesBlueKeyFrame1 {
    animation: teamNamesBlueKeyFrame1Animation 10s ease-in-out infinite forwards
}
.teamNamesBlueKeyFrame2 {
    animation: teamNamesBlueKeyFrame2Animation 10s ease-in-out infinite forwards
}
@keyframes teamNamesBlueKeyFrame1Animation {
    0% { opacity: 0; }
    5% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes teamNamesBlueKeyFrame2Animation {
    0% { opacity: 0; }
    50% { opacity: 0; }
    55% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}

/* Cards */
#mapPickCardsBlue { position: absolute; left: 420px; top: 120px; }
#mapPickCardsPurple { position: absolute; right: 540px; top: 350px; }
.mappoolCard {
    height: 155px;
    width: 110px;
    border-radius: 10px;
    position: absolute;
    border: 5px solid;
    background-size: cover;
    background-position: 50%;
    transition: 750ms ease-in-out
}
.mappoolCardOverlay {
    width: inherit; height: inherit;
    background-color: rgba(0,0,0,0.5);
    position: absolute; top: -5px; left: -5px;
    border: 5px solid;
    border-radius: inherit;
}
.mappoolCardText {
    position: absolute; top: 10px; left: 0;
    width: inherit;
    font-size: 35px;
    height: 40px;
    text-align: center;
    text-shadow: -3px 3px 8px rgba(0,0,0,0.8);
}
.protectCardLockButton {
    position: absolute; bottom: 7px; left: 50%; transform: translateX(-50%);
}
.protectCard {
    border-color: rgb(93,244,146);
    top: 680px;
}
.protectCard .mappoolCardOverlay { border-color: rgb(93,244,146); }
#protectCardBlue { left: 420px; }
#protectCardPurple { right: 420px; }
.banCard {
    border-color: rgb(246,91,91);
    top: 873px;
}
.banCard .mappoolCardOverlay { border-color: rgb(246,91,91); }
.banCardText {
    width: 110px;
    text-align: center;
    color: rgb(246,91,91);
    font-size: 38px;
    position: absolute; bottom: 5px;
}