:root {
	--purple: #936bf7;
	--purple75Opacity: #936bf77F;
	--blue: #75c6ea;
	--blue75Opacity: #75c7ea7F;
	--green: #6ACE0C;
	--red: #FF4141;
	--darkGreen: #1F9B29;
}

@font-face {
    font-family: "Round-Control";
    src: url("../fonts/RoundControl-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Coolvetica";
	src: url("../fonts/Coolvetica-Regular.otf") format("opentype");
}
@font-face {
	font-family: "RenogareSoft-Regular";
	src: url("../fonts/RenogareSoft-Regular.ttf") format("opentype");
}

body,html{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#main{
    font-family: Round-Control;
    font-weight: normal;
    color: white;
	background-color: #000210;
    width: 1920px;
    height: 1080px;
    z-index: 2;
}

#predictionOverlay {
	position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
	z-index: 2;
}

#tierList{
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 500px;
    height: 500px;
}

#teamDisplaybuttonleft{
    position: absolute;
    left: 105px;
    top: 487px;
    width: 50px;
    height: 50px;
    border: transparent;
    background-color: transparent;
    z-index: 3;
}
#teamDisplaybuttonright{
    position: absolute;
    left: 497px;
    top: 487px;
    width: 50px;
    height: 50px;
    border: transparent;
    background-color: transparent;
    z-index: 3;
}
#currentTeamName{
    position: absolute;
    top: 600px;
    left: 200px;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    font-family: Round-Control;
    color: white;
    font-size: 30px;
}
.currentTeamFlag{
    position: absolute;
    top: 600px;
    left: 249px;
    height: 200px;
    width: 100px;
    background-size: contain;
	background-repeat: no-repeat;
}