:root {
	--purple: #936bf7;
	--blue: #75c6ea;
    --my-sr-num: 352px;
    --my-cs-num: 300px;
    --my-ar-num: 250px;
    --my-od-num: 100px;
}

@font-face {
    font-family: "Round-Control";
    src: url("../fonts/RoundControl-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Coolvetica";
	src: url("../fonts/Coolvetica-Regular.otf") format("opentype");
}
@font-face {
	font-family: "RenogareSoft-Regular";
	src: url("../fonts/RenogareSoft-Regular.ttf") format("opentype");
}

body,html{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#showcaseMain{
    font-size: 30px;
    font-family: Round-Control;
    font-weight: normal;
    color: white;
	background-color: #000210;
    width: 1920px; height: 1080px;
    position: relative;
}
canvas { position: absolute; top: 0; z-index: 0; }
#gameplayScreen {
    position: absolute; top: 145px; left: 75px;
    background-color: #04F404;
    width: 1380px; height: 775px;
    z-index: 1;
}
#showcaseOverlay {
	position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
	z-index: 2;
}
#sponsor { position: relative; left: 20px; top: 0px; z-index: 1; }

/* ~~~~~~~~~~~~~~~~~~~~ ROUND INFO ~~~~~~~~~~~~~~~~~~~~ */
#roundMapSlotContainer {
    width: 377px; height: 90px;
    position: absolute; top: 144px; right: 30px;
    z-index: 2;
}
#round {
    width: 243px; height: inherit;
    line-height: 90px; 
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
}

/* ~~~~~~~~~~~~~~~~~~~~ MAP SLOT ~~~~~~~~~~~~~~~~~~~~ */
#currentMapWheel {
    width: 113px; height: 90px;
    position: absolute;
    top: 0; left: 265px;
    text-align:center
}
.aboveAll {
    position: absolute;
    color: black;
    font-size: 20px;
    left: 50%; transform: translateX(-50%);
    top: 1%;
    opacity: 0;
}
.above {
    position: absolute;
    color: grey;
    font-size: 20px;
    left: 50%; transform: translateX(-50%);
    top: 11%; opacity: 1;
}
.current {
    position: absolute;
    color: white;
    font-size: 28px;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    opacity: 1;
}
.below {
    position: absolute;
    color: grey;
    font-size: 20px;
    left: 50%; transform: translateX(-50%);
    top:67%;
    opacity: 1;
}
.belowAll {
    position: absolute;
    color: black;
    font-size: 16px;
    left: 50%; transform: translateX(-50%);
    top: 78%;
    opacity: 0;
}

/* Going Down the List*/
.fromAboveToAboveAll { animation-name: fromAboveToAboveAll; }
.fromCurrentToAbove { animation-name: fromCurrentToAbove; }
.fromBelowToCurrent { animation-name: fromBelowToCurrent;  }
.fromBelowAllToBelow { animation-name: fromBelowAllToBelow; }
@keyframes fromAboveToAboveAll {
    0% {
        color: #696969;
        font-size: 20px;
        top: 11%;
        opacity: 1;
    }
    100% {
        color: #000000;
        font-size: 16px;
        top: 10%;
        opacity: 0;
    }
}
@keyframes fromCurrentToAbove {
    0% {
        color: #ffffff;
        font-size: 28px;
        top: 50%; transform: translate(-50%, -50%);
    }
    100% {
        color: #696969;
        font-size: 20px;
        top: 11%; transform: translateX(-50%);
    }
}
@keyframes fromBelowToCurrent {
    0% {
        color: #696969;
        font-size: 20px;
        top: 67%; transform: translateX(-50%);
    }
    100% {
        color: #ffffff;
        font-size: 28px;
        top: 50%; transform: translate(-50%, -50%);
    }
}
@keyframes fromBelowAllToBelow {
    0% {
        color: #000000;
        font-size: 16px;
        top: 78%; 
        opacity: 0;
    }
    100% {
        color: #696969;
        font-size: 20px;
        top: 67%; 
        opacity: 1;
    }
}
/* Going Up the List */
.fromAboveAllToAbove { animation-name: fromAboveAllToAbove; }
.fromAboveToCurrent { animation-name: fromAboveToCurrent; }
.fromCurrentToBelow { animation-name: fromCurrentToBelow; }
.fromBelowToBelowAll { animation-name: fromBelowToBelowAll; }
@keyframes fromAboveAllToAbove {
    0% {
        color: #000000;
        font-size: 16px;
        top: 10%;
        opacity: 0;
    }
    100% {
        color: #696969;
        font-size: 20px;
        top: 11%;
        opacity: 1;
    }
}
@keyframes fromAboveToCurrent {
    0% {
        color: #696969;
        font-size: 20px;
        top: 11%; transform: translateX(-50%);
    }
    100% {
        color: #ffffff;
        font-size: 28px;
        top: 50%; transform: translate(-50%, -50%);
    }
}
@keyframes fromCurrentToBelow {
    0% {
        color: #ffffff;
        font-size: 28px;
        top: 50%; transform: translate(-50%, -50%);
    }
    100% {
        color: #696969;
        font-size: 20px;
        top: 67%; transform: translateX(-50%);
    }
}
@keyframes fromBelowToBelowAll {
    0% {
        color: #696969;
        font-size: 20px;
        top: 67%;
        opacity: 1;
    }
    100% {
        color: #000000;
        font-size: 16px;
        top: 78%;
        opacity: 0;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~ NOW PLAYING ~~~~~~~~~~~~~~~~~~~~ */

#nowPlayingContainer {
    position: absolute; top: 300px; right: 43px;
    width: 364px; height: 205px;
    background-color: transparent;
    background-size: cover;
    z-index: 1;
    text-shadow: 0px 0px 16px #000;
    text-align: center;
}
#nowPlayingOverlay {
    position: absolute; top: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
    width: inherit; height: inherit;
}
#mapTitleWrapper {
    position: absolute; top: 110px; left: 20px;
    width: 324px; 
    font-size: 28px;
    overflow: hidden;
}
#mapTitle {
    width: max-content;
    display: inline-block;
}
#mapDifficultyWrapper {
    position: absolute; top: 140px; left: 20px;
    width: 324px; 
    font-size: 24px;
    overflow: hidden;
}
#mapDifficulty {
    width: max-content;
    display: inline-block;
}
.mapInfoWrap { animation: mapTitleSlide 12s linear infinite; }
@keyframes mapTitleSlide {
    0% {transform: translate(0px);}
    11% {transform: translate(0px);}
    80% { transform: translate(calc(-100% + 324px)); }
    100% { transform: translate(calc(-100% + 324px)); }
} 
#replayerBox {
    position: absolute;
    bottom: 255px; 
    right: 50px;
    width: 225px;
    height: 29px;
    background-color: transparent;
    z-index: 2;
}
#replayer {
    font-size: 18px;
    position: inherit;
    top: 3px;
}
/* ~~~~~~~~~~~~~~~~~~~~ POOLER COMMENTS ~~~~~~~~~~~~~~~~~~~~ */

#poolComments {
    position: absolute; bottom: 115px; left: 950px;
    width: 600px; height: 90px;
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* ~~~~~~~~~~~~~~~~~~~~ MAP STATS ~~~~~~~~~~~~~~~~~~~~ */

#mapstats {
    position: absolute; top: 515px; right: 42px;
    width: 366px; height: 250px;
}
.mapStatsBarTitle {
    position: absolute; top: 10px;
    font-size: 19px;
}
 
.mapStatsBarContainer  {
    position: relative; top: 0px; left: 0px;
    height: 50px; width: 366px;
    z-index: 1;
}

#mapStatsSRbar {
    position: relative;
    height: 9px; width: 0px;
    top: 37px; left: 7px;
    background-color: var(--purple);
    z-index: 1;
    max-width: 352px;
    transition: width 1s;
    height: 10.5px; top: 35.7px;
}

.mapStatsBar {
    position: relative;
    width: 0px; max-width: 352px; height: 10px;
    top: 36px; left: 7px;
    background-color: var(--blue);
    z-index: 1;
    transition: width 1s;
}

.mapStatsBarNum {
    position: absolute; top: 10px; right: 0px;
    font-size: 19px;
}

.mapStatsbox {
    position: absolute;
    top: 30px;
    left: 0px;
    height: 22px;
    width: 366px;
    outline: 4px solid white;
    outline-offset: -4px;
}

#mapStatsLEN, #mapStatsBPM {
    position: relative;
    top: 20px;
}

#mapStatsLENtitle, #mapStatsBPMtitle, #mapStatsLENnum, #mapStatsBPMnum {
    position: absolute;
    font-size: 19px;
}

#mapStatsLENtitle { left: 180px; }
#mapStatsBPMtitle { left: 0px; }
#mapStatsLENnum { left: 280px; }
#mapStatsBPMnum { left: 60px; }